.container{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  border-style: hidden;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  border-style: hidden;
}
