.container{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: center;
  border-style: hidden;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  border-style: hidden;
}
